<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- BOOTSTRAP-START -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- BOOTSTRAP-END -->

    <!-- FONTAWESOME CDN START -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <!-- FONTAWESOME CDN END -->

    <!-- CUSTOM CSS STYLES START -->
    <link rel="stylesheet" href="./style.css">
    <!-- CUSTOM CSS STYLES END -->

    <title>Registration</title>
</head>

<body>

    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7">
                    <img class="img-fluid registerImg" src="./images/reg.jpg" alt="">
                </div>
                <div class="col-md-4 mt-5">
                    <form action="/registration" method="POST">
                        <div class="form-row main-form">
                            <div class="form-group col-md-6">
                                <label for="first name">First Name</label>
                                <input type="text" class="form-control" id="First Name" placeholder="Enter First Name"
                                    name="firstname">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="last name">Last Name</label>
                                <input type="text" class="form-control" id="Last Name" placeholder="Enter Last Name"
                                    name="lastname">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter Email Address"
                                name="email">
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Enter Password"
                                    name="password">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="password">Confirm Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Confirm Password"
                                    name="cPassword">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="subject">Address</label>
                                <input type="text" class="form-control" id="Address" placeholder="Enter Address"
                                    name="address">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="subject">Subject</label>
                                <input type="text" class="form-control" id="subject" placeholder="Write Subject"
                                    name="subject">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="mobile number">Mobile Number</label>
                                <input type="text" class="form-control" id="moblie" placeholder="Enter Mobile Number"
                                    name="mobilenumber">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Age">Age</label>
                                <input type="Age" class="form-control" id="Age" aria-describedby="Age"
                                    placeholder="Enter Age" name="age">
                            </div>
                        </div>
                        <button type="submit" class="btn mt-3 custom-btn">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- BOOTSTRAP-JAVASCRIPT-START -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- BOOTSTRAP-JAVASCRIPT-END -->

</body>

</html>